.sidebar-open .container {
  overflow-y: hidden;
}

.sidebar-open .sidebar {
  transform: translateX(0);
}

.sidebar-open .sidebar-backdrop {
  display: block;
}

.sidebar {
  background-color: var(--foreground);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  padding: 34px;
  color: white;
  min-width: 300px;
  transition: all 500ms ease;
  z-index: 20;
}

.sidebar-backdrop {
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
  position: fixed;
  inset: 0;
  z-index: 15;
  display: none;
}

#btn-menu {
  position: fixed;
  right: 40px;
  top: 40px;
  z-index: 10;
  font-size: 30px;
}

#btn-menu .ri-menu-3-line:hover {
  opacity: 70%;
}

#sidebar_btn-menu {
  font-size: 40px;
  top: 0;
  right: 0;
  transform: rotate(45deg);
}

#sidebar_btn-menu .ri-add-line:hover {
  opacity: 70%;
}

.sidebar_header__text {
  display: flex;
  gap: 70px;
  justify-content: space-between;
}

.sidebar_menus {
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.sidebar_menus .line_decoration:hover::after {
  width: 100%;
}

.sidebar_menus .line_decoration::after {
  transition: width 500ms ease-out;
}

.sidebar_menus a {
  width: fit-content;
}

#sidebar_themes-list {
  display: flex;
  list-style: none;
  gap: 10px;
}

#sidebar_themes-list button {
  border-radius: 10px;
  width: 20px;
  transition: padding 400ms ease-out;
  aspect-ratio: 1/1 auto;
}

#sidebar_themes-list button:hover {
  border-radius: 50px;
  padding: 0 5px;
}

.sidebar_header__subheading {
  color: rgb(var(--primary-color));
}

#btn-red {
  background-color: rgb(var(--red));
}

#btn-yellow {
  background-color: rgb(var(--yellow));
}

#btn-blue {
  background-color: rgb(var(--blue));
}

#btn-cyan {
  background-color: rgb(var(--cyan));
}

#btn-pink {
  background-color: rgb(var(--pink));
}

#sidebar_btn-menu,
#btn-menu,
#sidebar_themes-list button {
  cursor: pointer;
}

@media (min-width: 1200px) {
  .sidebar {
    display: flex;
  }
  #btn-menu {
    display: none;
  }
  #sidebar_btn-menu {
    display: none;
  }
  .sidebar-open .container {
    overflow-y: auto;
  }

  /* .sidebar-open .sidebar {
    display: flex;
    position: relative;
    z-index: 2;
  } */

  .sidebar-open .sidebar-backdrop {
    display: none;
  }
  .sidebar-backdrop {
    background-color: transparent !important;
  }
}

@media (max-width: 767px) {
  .sidebar {
    width: 100%;
  }
}

@media (max-width: 1199px) {
  .sidebar {
    transform: translateX(-100%);
    position: fixed;
  }
}
