* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "BackSignature"; /*a name to be used later*/
  src: url("/fonts/BlackSignature_PERSONAL_USE_ONLY.otf"); /*URL to font*/
}

:root {
  /* Colors */
  --backgound: #151515;
  --foreground: #222222;
  --primary-color: 238, 61, 64;
  --text-color: 255, 255, 255;
  --red: 238, 61, 64;
  --blue: 30, 144, 255;
  --yellow: 255, 215, 0;
  --cyan: 0, 255, 255;
  --pink: 252, 15, 192;

  /* Breakpoints */
  --xs: 0;
  --sm: 576px;
  --md: 768px;
  --lg: 992px;
  --xl: 1200px;
  --xxl: 1400px;
}

button {
  all: unset;
  background-color: transparent;
}

ul {
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--backgound);
  color: #333;
  line-height: 26px;
  margin: 0;
  display: flex;
  height: 100vh;
  max-height: 100vh;
}

.container {
  height: 100vh;
  max-height: 100vh;
  overflow-y: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main {
  padding: 16px;
}

.sidebar-open .container {
  overflow-y: hidden;
}

.sidebar-open .sidebar {
  display: flex;
  position: fixed;
  z-index: 2;
}

.sidebar-open .sidebar-backdrop {
  display: block;
}

.sidebar {
  background-color: var(--foreground);
  min-height: 100vh;
  display: none;
  flex-direction: column;
  font-size: 20px;
  padding: 34px;
  color: white;
  min-width: 300px;
}

.sidebar-backdrop {
  background-color: rgba(0, 0, 0, 0.411);
  position: fixed;
  inset: 0;
  z-index: 1;
  display: none;
}
#btn-menu {
  position: fixed;
  right: 30px;
  top: 30px;
  color: #e3e3e3;
}

.sidebar_header {
  display: flex;
  justify-content: space-between;
}

.sidebar h2 {
  font-size: 14px;
}
.sidebar_menus {
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.sidebar_menus a:not(:last-child) {
  border-bottom: 1px solid rgba(var(--primary-color), 0.4);
  padding-bottom: 10px;
}

#sidebar_themes-list {
  display: flex;
  list-style: none;
  gap: 10px;
}

#sidebar_themes-list button {
  border-radius: 50%;
  width: 20px;
  aspect-ratio: 1/1 auto;
}

#btn-red {
  background-color: rgb(var(--red));
}

#btn-yellow {
  background-color: rgb(var(--yellow));
}

#btn-blue {
  background-color: rgb(var(--blue));
}

#btn-cyan {
  background-color: rgb(var(--cyan));
}

#btn-pink {
  background-color: rgb(var(--pink));
}

#box-name {
  width: -webkit-fill-available;
  max-width: 100vh;
}

#hero {
  padding: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

#hero h1 {
  white-space: nowrap;
  margin-bottom: 15px;
}

#hero h2 {
  margin-bottom: 15px;
}

#hero .photo {
  width: 300px;
  object-fit: cover;
  height: 400px;
  margin: 50px;
}

#sidebar_btn-menu {
  cursor: pointer;
}

#btn-menu {
  cursor: pointer;
}

@media (min-width: 610px) {
  .education_section_image-composition #left-bar {
    height: 120px !important;
  }
  .education_section_image-composition #circle2 {
    top: 100px !important;
  }
}
@media (min-width: 992px) {
  .sidebar {
    display: flex;
  }
  #btn-menu {
    display: none;
  }
  #sidebar_btn-menu {
    display: none;
  }
  .sidebar-open .container {
    overflow-y: auto;
  }

  .sidebar-open .sidebar {
    display: flex;
    position: relative;
    z-index: 2;
  }

  .sidebar-open .sidebar-backdrop {
    display: none;
  }
  .sidebar-backdrop {
    background-color: transparent !important;
  }
}

@media (min-width: 1400px) {
  #hero {
    flex-direction: row-reverse;
  }
  .sidebar {
    display: flex;
  }
  #projects_section-body {
    display: flex !important;
  }
}

.image-composition {
  position: relative;
  max-width: fit-content;
}

.image-composition #top-horizontal {
  background-color: rgb(var(--primary-color));
  position: absolute;
  width: 100px;
  height: 10px;
  top: 0;
  left: 0;
}

.image-composition #top-vertical {
  background-color: rgb(var(--primary-color));
  position: absolute;
  width: 10px;
  height: 100px;
  top: 0;
  left: 0;
}

.image-composition #bottom-horizontal {
  background-color: rgb(var(--primary-color));
  position: absolute;
  width: 100px;
  height: 10px;
  bottom: 0;
  right: 0;
}

.image-composition #bottom-vertical {
  background-color: rgb(var(--primary-color));
  position: absolute;
  width: 10px;
  height: 100px;
  bottom: 0;
  right: 0;
}

#personal_section {
  background-color: transparent;
}

#personal_section p {
  padding: 10px;
  border-bottom: 1px solid rgba(var(--primary-color), 0.4);
}

#personal_section h2 {
  margin-bottom: 50px;
  font-size: 28px;
}

#education_section h2 {
  margin-bottom: 50px;
  font-size: 28px;
}

.education_section_image-composition {
  position: relative;
  max-width: fit-content;
  margin-top: 20px;
}

.education_section_image-composition #left-bar {
  background-color: rgb(var(--primary-color));
  position: absolute;
  width: 2px;
  margin-top: 15px;
  height: 150px;
}

.education_section_image-composition #circle {
  background-color: rgb(var(--primary-color));
  position: absolute;
  width: 10px;
  border-radius: 50%;
  margin-top: 7px;
  height: 10px;
  left: -4px;
}

.education_section_image-composition #circle2 {
  background-color: rgb(var(--primary-color));
  position: absolute;
  width: 10px;
  border-radius: 50%;
  height: 10px;
  top: 130px;
  left: -4px;
}

#education_section li {
  margin-bottom: 68px;
  margin-left: 15px;
  list-style: none;
  color: white;
}
#skills_section #skills_section-logos {
  display: flex;
}

#skills_section .logo {
  width: 50px;
  object-fit: cover;
  height: 50px;
  margin: 30px;
}

#skills_section h2 {
  margin-bottom: 50px;
  font-size: 28px;
}

#projects_section h2 {
  margin-bottom: 50px;
  font-size: 28px;
}

#projects_section-body {
  display: grid;
}

#projects_section-body p {
  align-content: center;
  width: -webkit-fill-available;
  max-width: 80vh;
}

#site {
  width: 350px;
  height: 200px;
  margin: 50px;
  overflow: hidden; /* Oculta partes que saem do contêiner */
  box-shadow: 0 4px 15px rgba(var(--primary-color), 0.5); /* Sombra */
  border-radius: 10px; /* Opcional: bordas arredondadas */
}

#site img {
  width: 100%;
  height: auto; /* Mantém a proporção da imagem */
  display: block; /* Remove espaços em branco abaixo da imagem */
}

h1 {
  font-size: 30px;
  color: #ffffff;
  margin: 0;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  opacity: 80%;
  transition: opacity 200ms ease-out;
}

a:visited {
  color: white;
}

p {
  font-size: 16px;
  color: #e3e3e3;
}

h2 {
  margin: 0;
  font-size: 20px;
  color: rgb(var(--primary-color));
}

#name {
  color: rgb(var(--primary-color));
  font-family: BackSignature, sans-serif;
}

section {
  margin-bottom: 20px;
  padding: 15px;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: rgb(var(--primary-color));
  text-align: center;
  padding: 28px;
}

footer p {
  color: rgb(var(--text-color));
  margin: 20px;
}

footer li {
  list-style: none;
}

footer svg {
  color: rgb(var(--text-color));
}
