body {
  font-family: Arial, sans-serif;
  background-color: #f3ece2;
  color: #333;
  line-height: 26px;
  margin: 0;
  display: flex;
  gap: 10px;
  overflow: hidden;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.container {
  background-color: #fff;
  padding: 20px;
  overflow: scroll;
  min-height: 100vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.sidebar {
  background-color: #333;
  min-height: 100vh;
  min-width: 200px;
}

.header {
  text-align: center;
  padding: 20px;
}

.header h1 {
  white-space: nowrap;
}

.profile .content {
  width: 100%;
}

.photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 0 0 5px 5px #ee3d40;
}

h1 {
  margin-top: 10px;
  font-size: 24px;
  color: #333;
}

p {
  font-size: 16px;
  color: #777;
  margin: 10px 0;
}

h2 {
  margin: 20px 0 10px;
  font-size: 20px;
  color: #ee3d40;
}

ul {
  margin: 10px 0;
  padding-left: 20px;
}

li {
  margin: 10px 0;
}

strong {
  color: #333;
}

section {
  margin-bottom: 20px;
  background-color: #eeeeee;
  padding: 15px;
  border-radius: 5px;
}

#footer_daniel {
  text-align: center;
  font-size: 15px;
  color: #777;
}
